.fondo {
    -fx-background-color: #B0B0B0
}

.textField {
    -fx-background-radius: 12px;
}

.button {
    -fx-background-radius: 30px;    
}

.round-button{
    -fx-background-radius:50%;
}

.panel-datos {
    -fx-border-width: 2px;
    -fx-border-color: grey;
    -fx-border-radius: 10px;
}

